@page "/"

<div class="main">
    <div class="content px-4">
        <h1 class="text-center">Blazor + EntityFramework + SQLite</h1>
        <p>Я не ставил задачу показать, насколько я хороший фронтендщик, не претендую на позицию full-stack-разработчика (пока что). Моей задачей было - 
        показать мои навыки back-end. В данном проекте я использовал базу данных SQLite и ORM-систему EntityFramework для работы с данными. Так как в 
        этом проекте не было какой-то сложной бизнес-логики, сервисы не заводил.</p>
        <p>Однако, для нормального отображения данных, пришлось поизучать bootstrap и компонентный подход для отображения информации.</p>
    </div>
</div>